# Flask web framework
Flask==3.0.3

# MySQL DB connector
mysql-connector-python==8.4.0

# Testing Libraries
pytest==7.1.2
pytest-cov==3.0.0

# Linting libraries
pylint==2.13.0

# Other useful libraries
requests==2.27.1
